.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.1);
}

.wrapper h1 {
  color: white;
  gap: 10px;
  display: flex;
  align-items: center;
}
