.text {
  width: 700px;
}
.correctChar,
.incorrectChar,
.untypedChar,
.spaceChar {
  line-height: 1.6;
  word-spacing: 5px;
  font-size: calc(28 / 16 * 1rem);
}

.gameStatus {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.gameStatus div {
  gap: 5px;
  display: flex;
  align-items: center;
  color: black;
}

.gameStatus div {
  font-size: 20px;
}

.gameStatus div svg {
  font-size: 24px;
  color: #007bff;
}

.gameStatus div:last-child svg {
  font-size: 40px;
}

.correctChar {
  color: black;
}

.incorrectChar {
  color: rgb(211, 30, 30);
}

.untypedChar {
  color: gray;
}

.spaceChar {
  color: gray;
}

@media (prefers-color-scheme: dark) {
  .gameStatus div {
    color: white;
  }

  .correctChar {
    color: white;
  }

  .incorrectChar {
    color: rgb(255, 78, 78);
  }

  .untypedChar {
    color: #646669;
  }

  .spaceChar {
    color: #646669;
  }
}
